<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Serving the town of Eads, Colorado since 2016.</h2>
                    </div>
    </div>
</aside>

