<header>
    <div class="header-content">
        <div class="header-content-inner">

            <h1>Great Looking Lawns</h1>
            <h2>Lawn Mowing Service</h2>
            <h2>719-688-3458</h2>
            <hr>
            <p>Need your lawn mowed? You have come to the right place!  Welcome to Great Looking Lawns!  We offer quality lawn mowing at great prices.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Call Today!</a>
            <br>
            <br>
            <br>
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
            
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".2s"></i>
            
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".3s"></i>
              <br><br>
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
            
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".2s"></i>
            
            <i class="fa fa-5x fa-angle-double-down wow bounceIn text-primary" data-wow-delay=".3s"></i>
            
        </div>
        </div>
        </div>

    </div>
</header>
